:root {
  --color-black: #151820;
  --color-bg0: #242b38;
  --color-bg1: #2d3343;
  --color-bg2: #343e4f;
  --color-bg3: #363c51;
  --color-bg_d: #1e242e;
  --color-bg_blue: #6db9f7;
  --color-bg_yellow: #f0d197;
  --color-fg: #a5b0c5;
  --color-purple: #ca72e4;
  --color-green: #97ca72;
  --color-orange: #d99a5e;
  --color-blue: #5ab0f6;
  --color-yellow: #ebc275;
  --color-cyan: #4dbdcb;
  --color-red: #ef5f6b;
  --color-grey: #546178;
}

body {
  color: var(--color-fg);
  background: var(--color-bg2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-fg);
  margin: 2rem 0 0;
}

a {
  color: var(--color-cyan);
  transition: color ease-in-out 100ms;
}
a:hover {
  /* color: var(--color-main-0); */
}

pre {
  background: var(--color-bg1);
  padding: .5rem;
  border-radius: 8px;
}

code {
  font-size: 1rem;
}

code:not(pre code) {
  background: var(--color-bg1);
  padding: 0.1rem .2rem;
  border-radius: 4px;
}
