code span.variable,
code span[class="variable.builtin"] {
  color: var(--color-red);
}

code span.string {
  color: var(--color-green);
}

code span.type,
code span[class="type.builtin"] {
  color: var(--color-yellow);
}

code span.function,
code span[class="function.method"] {
  color: var(--color-blue);
  font-style: italic;
}

code span.keyword,
code span.constant,
code span.property,
code span[class="string.special.key"] {
  color: var(--color-purple);
  font-style: italic;
}

code span.number {
  color: var(--color-orange);
}

code span.comment {
  color: var(--color-grey);
  font-style: italic;
}
