:root {
  --toc-width: 280px;
  --toc-padding: 20px;
}

body {
  display: grid;
  grid-template-columns: 1fr calc(var(--toc-width) + (var(--toc-padding) * 2));
}

body main {
  grid-column: 1;
}

body nav {
  grid-column: 2;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--toc-width);
  border-left: 1px solid var(--color-bg1);
  padding: var(--toc-padding);
  overflow-y: auto;
}

body nav ul {
  list-style: none;
  padding: 0 1rem;
}
