$fg-0: #030712;
$fg-1: #111827;
$fg-2: #1f2937;
$fg-3: #374151;
$bg-0: #d1d5db;
$bg-1: #e5e7eb;
$bg-2: #f3f4f6;
$bg-3: #f9fafb;
$main-0: #4f46e5;
$main-1: #6366f1;
$main-2: #818cf8;
$main-3: #a5b4fc;
