$fg-0: #f9fafb;
$fg-1: #f3f4f6;
$fg-2: #e5e7eb;
$fg-3: #d1d5db;
$bg-0: #374151;
$bg-1: #1f2937;
$bg-2: #111827;
$bg-3: #030712;
$main-0: #a5b4fc;
$main-1: #818cf8;
$main-2: #6366f1;
$main-3: #4f46e5;
