---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const categories: ["maths", "physique"] = ["maths", "physique"];
  const paths = await Promise.all(categories.map(async cat => {
    const entries = await getCollection(cat);
    return entries.map(entry => ({
      params: { path: cat + '/' + entry.slug },
      props: { entry },
    }));
  }))
  return paths.flat();
});

const { entry } = Astro.props;
const { title, katex } = entry.data;
const { Content, headings } = await entry.render();
---

<Layout {title} {katex}>
  <main>
    <h1>{title}</h1>
    <Content />
  </main>
  <nav class="headings">
    <ul>
      {headings.map(heading => (
        <li style={{ marginLeft: heading.depth * 6 + 'px' }}>
          <a href={'#' + heading.text.toLowerCase().split(' ').join('-')}>{heading.text}</a>
        </li>
      ))}
    </ul>
  </nav>
</Layout>
