---
const entries = await Astro.glob("../content/**/*.md");
---

<nav class="navigation">
  <ul>
    {entries.map(entry => (
      <li><a href={"/uni" + entry.file.split("content")[1].split(".md")[0]}>{entry.frontmatter.title}</a></li>
    ))}
  </ul>
</nav>
