:root {
  --color-fg: #ABB2BF;
  --color-bg: #282C34;

  --color-orange: #D19A66;
  --color-gold: #E5C07B;
  --color-green: #98C379;
}

pre {
  color: var(--color-fg);
  background: var(--color-bg);
  padding: .5rem;
  border-radius: 8px;
}

code span.string_start,
code span.string_content,
code span.string_end {
  color: var(--color-green);
}

code span.def,
code span.if,
code span.return {
  color: var(--color-gold);
}

code span.integer {
  color: var(--color-orange);
}

code span.comment {
  font-style: italic;
}
