$color-main-0: #4f46e5;
$color-main-1: #6366f1;
$color-main-2: #818cf8;

$color-fg-0: #0f172a;
$color-fg-1: #1e293b;
$color-fg-2: #334155;
$color-bg-0: #cbd5e1;
$color-bg-1: #e2e8f0;
$color-bg-2: #f1f5f9;

$color-red: #ef4444;
$color-orange: #f97316;
$color-gold: #f59e0b;
$color-green: #10b981;
$color-cyan: #06b6d4;
$color-blue: #3b82f6;
$color-purple: #8b5cf6;
$color-rose: #d946ef;

body {
  color: $color-fg-2;
  background: $color-bg-2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
  margin: 0 250px 0 0;
  padding: 0 4rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  border-left: 1px solid $color-bg-0;
  padding: 20px;
  overflow-y: auto;

  h3 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0 1rem;
  }
}

h1,
h2,
h3 {
  color: $color-fg-0;
  margin: 2rem 0 0;
}

a {
  color: $color-main-1;
  transition: color ease-in-out 100ms;

  &:hover {
    color: $color-main-0;
  }
}

blockquote {
  border-radius: 8px;
  border-left: solid 8px $color-bg-0;
  background: $color-bg-1;
  padding: .5rem 1rem;
  margin: 1rem 0;
}

@mixin aside($bg, $border) {
  border-left: solid 8px $border;
  background: $bg;
}

aside {
  border-radius: 8px;
  padding: .5rem 1rem;

  h3 {
    margin: 16px;
  }

  &.note { @include aside(#dbeafe, #60a5fa); }
  &.warning { @include aside(#ffedd5, #fb923c); }
  &.tip { @include aside(#fae8ff, #e879f9); }
}

pre {
  color: $color-fg-1;
  background: $color-bg-1;
  padding: .5rem;
  border-radius: 8px;
}

code span {
  &.var {
    color: $color-red;
  }

  &.str {
    color: $color-green;
  }

  &.t {
    color: $color-cyan;
  }

  &.fn {
    color: $color-blue;
  }

  &.kw {
    color: $color-purple;
  }

  &.num {
    color: $color-orange;
  }

  &.comment {
    font-style: italic;
  }
}
