---
interface Props {
	title: string;
  katex?: boolean;
}

const { title, katex } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    {katex && <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">}
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
  --accent-1: #6366f1;
  --accent-2: #4f46e5;
  --accent-3: #4338ca;
  --light-1: #fafafa;
  --light-2: #e4e4e7;
  --light-3: #a1a1aa;
  --dark-1: #18181b;
  --dark-2: #27272a;
  --dark-3: #3f3f46;
}
html {
  font-family: system-ui, sans-serif;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
a {
  color: var(--accent-1);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

main { max-width: 630px; }

nav.headings {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  border-left: 1px solid var(--light-2);
  padding: 1rem;
}

@media (max-width: 1275px) {
  nav.headings { display: none; }
}
</style>
